// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyB-JSoM4WADrk873mprsBq1RLa6bAxgjSI",
  authDomain: "indiasgotlatent-643f0.firebaseapp.com",
  projectId: "indiasgotlatent-643f0",
  storageBucket: "indiasgotlatent-643f0.firebasestorage.app",
  messagingSenderId: "847906020305",
  appId: "1:847906020305:web:c3b2f16e6e2f7389989ef0",
  measurementId: "G-DTCH4F6MKT"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);